.App {
  text-align: center;
}

.tile h2{
  font-size: 20px;
}

.tile img {
  max-height: 150px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hats {
  display: flex;
  flex-direction: row;
}

.tops {
  display: flex;
  flex-direction: row;
}

.jackets {
  display: flex;
  flex-direction: row;
}

.bottoms {
  display: flex;
  flex-direction: row;
}

.shoes {
  display: flex;
  flex-direction: row;
}

img {
  border:solid 1px red; margin:10px;}

.selected {
   box-shadow:0px 12px 22px 1px #333;
}

.home {
  /* position: fixed; */
  /* top: -25%; */
  /* left: -50%; */
  /* width: 200%; */
  /* height: 200%; */
  top: 40%;
}

.home img {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 min-width: 50%;
 min-height: 50%;
 z-index: -20;
}

.wheel {
  max-height: 700px;
}

.outfit {
  display: flex;
  flex-direction: row;
}

.ootd img {
  max-width: 400px;
}
