* {
  font-family: 'Sarala', sans-serif;
}

.App {
  text-align: center;
}

.container {
  /* padding-top: 100px; */
}

.tile {
  height: 175px;
  width: 175px;
}

.tile h2{
  font-size: 20px;
}

.tile img {
  /* width: 150px;
  height: auto; */
  max-height: 100%;
  max-width: 100%;
}

/* .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.ui.segment.cheese {
  padding: 1em;
  border: 1em solid #000;

}

.hats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tops {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jackets {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottoms {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilehat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profiletop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilejacket {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilebottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileshoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.outfit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



img {
  /* border:solid 1px red; margin:10px; */
}

.selected {
   /* box-shadow:0px 12px 22px 1px #333; */
}

body {

  background-color: #fafafa;
}

.ui.segment {
  background-color: #fbfbfb;
}

.ui.header.textstyle {
  color: #fff;
  font-size: 40px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h1.textstyle {
  color: #fff;
  font-size: 100px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.floating-nav {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}

.floating-nav + .ui.segment {
  margin: 0;
  padding: 0;
}

div.home {
  background-image: url('./home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 50px;
  /* width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  position: fixed;
  top: -25%;
  left: -50%;
  width: 200%;
  height: 200%;
  top: 40%; */
}

.home h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  /* margin-top: 10%; */
}

.wheel {
  max-height: 700px;
}

.outfit {
  display: flex;
  flex-direction: row;
}

.ootd img {
  max-width: 400px;
}

.login {
  position: relative;
  background-color: transparent;
  top: 10%;
  margin: 0 auto;
}

.home .ui.placeholder.segment {
  width: 65%;
  margin: 0 auto;
}

.home h1 {
  margin-bottom: 140px;
}

.home .login-form {
  padding-top: 50px;
}
