.App {
  text-align: center;
}

.tile h2{
  font-size: 20px;
}

.tile img {
  max-height: 150px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hats {
  display: flex;
  flex-direction: row;
}

.tops {
  display: flex;
  flex-direction: row;
}

.jackets {
  display: flex;
  flex-direction: row;
}

.bottoms {
  display: flex;
  flex-direction: row;
}

.shoes {
  display: flex;
  flex-direction: row;
}
